/J3.L.P0001(onlineQuiz)/nbproject/private/
/J3.L.P0001(onlineQuiz)/build/
/J3.L.P0004(Digital news)/nbproject/private/
/J3.L.P0004(Digital news)/build/
/Test/nbproject/private/
/Test/build/
/J3.L.P0004(Digital news)/dist/
/J3LP0013/nbproject/private/
/J3LP0013/build/
/J3.L.P0002(airline)/nbproject/private/
/J3.L.P0002(airline)/build/